<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yönetici Giriş</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .ayar1{
            padding: 25px;
            background-color: #f0efef;
        }

    </style>
</head>
<body>
<div class="ayar1">
<form name="f" th:action="@{/loginpage}" method="post">
    <fieldset>
        <legend>Yönetici Giriş Ekranı</legend>
        <div th:if="${param.error}" class="alert alert-error">
            Hatalı kullanıcı adı veya şifre!
        </div>

        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password"/>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Giriş</button>
        </div>
    </fieldset>
</form>
</div>
</body>
</html>